<mat-toolbar color="primary">Angular Universal & Prerender Demo</mat-toolbar>
<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer class="sidenav" opened mode="side">
    <mat-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/blog">Blog</a>
      <a mat-list-item routerLink="/about-me">About Me</a>
      <a mat-list-item routerLink="/site-map">SiteMap</a>
    </mat-list>
  </mat-drawer>

  <div class="main-container" [class.server-margin]="isServer">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
